# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Bytecode
*.so

# Virtual Environment
venv/

# 환경 설정
.env
.env.production

# macOS
.DS_Store

# Jupyter, IPython
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Logs
*.log

# CSV, JSON (개발용 임시 데이터)
*.csv
*.json

# OS
Thumbs.db
Desktop.ini
*.zip

# macOS 텍스트 클리핑 무시
*.textClipping
venv/
__pycache__/
*.pyc
.DS_Store
